## Setup

We will clone the Github repo if we are in Colab so that we can access our functions under the `src` folder.

In [1]:
try:
    # %tensorflow_version only exists in Colab.
    %tensorflow_version 2.x
    IS_COLAB = True
except Exception:
    IS_COLAB = False

if IS_COLAB:
    !git clone https://github.com/wpan03/quick_ds_python.git
    %cd quick_ds_python
    !pip install treeinterpreter==0.2.3
    !pip install scikit-learn==0.24.1
else:
    %load_ext autoreload
    %autoreload 2

In [2]:
from pathlib import Path

import pandas as pd

from src.eda import see_missing

## Get Data

In [3]:
my_file = Path("data/housing.csv")
if my_file.is_file():
    print('The data already exists. Good to go')
else:
    # https://github.com/ageron/handson-ml2/blob/master/02_end_to_end_machine_learning_project.ipynb
    DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml2/master/"
    HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"
    ! curl {HOUSING_URL} | tar -xz -C data/

The data already exists. Good to go

In [4]:
df_housing = pd.read_csv('https://raw.githubusercontent.com/wpan03/quick_ds_python/master/data/housing.csv')

## EDA

In [5]:
df_housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [6]:
df_housing.shape

(20640, 10)

In [7]:
see_missing(df_housing)

              columns  total_missing  percent_missing
0      total_bedrooms            207         1.002907
1           longitude              0         0.000000
2            latitude              0         0.000000
3  housing_median_age              0         0.000000
4         total_rooms              0         0.000000
5          population              0         0.000000
6          households              0         0.000000
7       median_income              0         0.000000
8  median_house_value              0         0.000000
9     ocean_proximity              0         0.000000

## Data Clean and Feature Engineering

## Fit Model

## Explain Model